
.tool {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: antiquewhite;
  font-size: 0.9rem;

  &-svg__svg {
    width: 100px;

    @media screen and (max-width: 1200px) {
      width: 70px;
    }
    @media screen and (max-width: 800px) {
      width: 50px;
    }
  }
}