@import '../../sass/mixins';

.tools {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 3rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(8, 1fr);
  }

  @include respond(tab-port) {
    padding: 0 5rem;

    grid-template-columns: repeat(7, 1fr);
  }

  @include respond(phone) {
    padding: 0 1rem;
    grid-template-columns: repeat(5, 1fr);
  }
}

// @media (min-width: 768px) { ... }
// @media (min-width: 1024px) { ... }
// @media (min-width: 1280px) { ... }
// @media (min-width: 1536px) { ... }
