.certificates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.certificate {
  display: flex;
  justify-content: center;

  position: relative;

  &-overlay,
  img {
    width: 39rem;
  }

  &:hover {
    > .certificate-zoom {
      display: block;
    }

    > .certificate-overlay {
      display: block;
    }
  }

  &-overlay {
    position: absolute;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.486);
  }

  &-zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    cursor: pointer;
  }
}

.hide {
  display: none;
}
