.navigations {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;

  a:visited,
  a:hover,
  a:active,
  a:link {
    text-decoration: none;
    color: #ffeec0;
  }

  .navigation {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5;
  }

  @media screen and (max-width: 800px) {
    font-size: 0.9rem;
    .navigation {
      padding: 0 8px;
    }
  }

  @media screen and (max-width: 375px) {
    font-size: 0.9rem;
    .navigation {
      padding: 0 8px;
    }
  }

  @media screen and (max-width: 414px) {
    font-size: 0.9rem;
    .navigation {
      padding: 0 8px;
    }
  }
}
