.sections {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

    .section {
        padding: 10px 15px;
        cursor: pointer;
        text-decoration: none;
        opacity: 0.5;
    }
}
